################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/menDoc/menDoc/bin/Debug/net5.0-windows
/menDoc/menDoc/obj
/MVVMCore/.vs/MVVMCore
/MVVMCore/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/MVVMCore/obj
/menDoc/.vs/menDoc
/menDoc/menDoc/bin/Release/net5.0-windows
/MVVMCore/MVVMCore/bin/Release/net5.0-windows/ref
/MVVMCore/MVVMCore/bin/Release/net5.0-windows
/menDoc/menDoc/bin/Release/menDoc
/menDoc/menDoc/bin/menDoc_1_1_1/net5.0-windows
/menDoc/.vs/ProjectEvaluation
/menDoc/menDoc/bin/Debug/net6.0-windows7.0
